*{
    font-family: 'Roboto', Arial, Helvetica, sans-serif
}

img{

    width: 100%;
    max-width: 700px;
    height: auto; 
}

form label{

    width: 100px;
    display: inline-block
}

form label:hover{

    width: 100px;
    display: inline-block;
    color: blanchedalmond;

}

.box
{

    border: 2PX solid red;
    border-color: red;
    display: inline-block;
    width: 30%;
    
    margin: 5px;
}

.bot{
    border: 1px solid green;
    background-color: red;
}

.bot_large{
    width: 300px;
    background-color: goldenrod;
    transition:  all 2s ease-in-out;


}
.bot_large:hover{
    background-color: aqua;
    color: yellow;
    cursor: e-resize;
    width: 350px;
}